.btn-call {
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 2px;
    width: 70px;
    height: 25px;
}

#currentCurriInfo {
    width: 60%;
    margin-left: 120px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.box-success {
    background-color: rgba(0, 0, 0, 0.05);
}

.small-box > .small-box-footer{
    color: #0a0a0a; !important;
}

.btn-call-se {
    padding: 0px;
    margin-left: 10px;
    /*margin-bottom: 4px;*/
    width: 70px;
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.a_c {
    text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.box-subjectlist {
    border-top-color: rgb(255, 189, 151);
    margin-top: 0px; !important;
    margin-bottom: 0px; !important;
}

.teamList-box {
    border-top: 1px solid rgba(10, 10, 10, 0.30);
}

.subList {
    /*height: 53px; !important;*/

}

.a_c {
    text-align: center;
    vertical-align: center;
}


/*custom-inpu-file*/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-family: inherit;
    font-size: 15px;
    /* 20px */
    font-weight: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    padding: 5px 20px;
    /* 10px 20px */
}

/*
.no-js .inputfile + label {
    display: none;
}
*/

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}


/* style 6 */

.inputfile-6 + label {
    color: #000000;
    margin-bottom: 0;
}

.inputfile-6 + label {
    border: 1px solid #b9b9b9;
    background-color: #FFFFFF;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #b9b9b9;
}

.inputfile-6 + label span {
    padding: 3px 10px
}
.inputfile-6 + label h5 {
    padding: 5px 20px;
    margin: 0 0;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 10px;
    font-size: 12px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label h5 {
    height: 100% ;
    color: #ffffff;
    font-size: 12px;
    background-color: #337ab7;
    display: inline-block;
}

.inputfile-6:focus + label h5,
.inputfile-6.has-focus + label h5,
.inputfile-6 + label:hover h5 {
    background-color: #265a88;
}

.disp-inline {
    display: inline !important;
}

.textarea-sm {
    border: 1px solid #ccc;
}

.line-table {
    background-color: #C2C2C2 ;
    height: 6px; !important;
    padding: 2px !important;
}

.file-form {
    height: 25px;
}

.file-td {
    padding: 2px !important;
}

.file-th {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.class-td {
    padding: 2px !important;
}

.table-text {
    padding-top : 6px !important;
    padding-bottom: 6px !important;
}

textarea {
    resize: none !important;
}

.pjt-box {
    padding: 5px 10px;
    vertical-align: middle;
}

.blank-div {
    height: 137px;
    border: 1px solid #a2a5ab
}

.lec-chk {
    margin: -3px 0px 0px 0px !important;
}